DATABASE_URL="psql postgresql://neondb_owner:npg_bkS61MroHtjC@ep-muddy-bird-a1jhxdm0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
GEMINI_API_KEY="AIzaSyC7kfChFFqncVELG4AooyD7jBCD1YP2v1s"
